.contenedorvideo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex: 1 0 0%;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.video {
  width: 50%;
  height: auto;
}

.navegador {
  background-color: none;
  margin-top: 1rem;
}

.navegador1 {
  font-family: 'Bebas Neue', cursive;
  font-size: 25px;
  text-decoration: underline;
  color: white;
}

.navegador2 {
  font-family: 'Bebas Neue', cursive;
  font-size: 20px;
  padding-left: 5px;
  color: white;
}

.navegador2:hover {
  transform: scale(1.25);
  padding-left: 10px;
  margin-left: 10px;
  opacity: 0.8;
}

.nav-video {
  align-items: center;
  display: flex;
  flex-direction: row;
}

.container {
  width: 100%;
  background-color: #af4000;
  display: flex;
  flex-direction: column !important;
}

.contenedorcard {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: 1rem;
  margin-right: calc(-.5 * var(--bs-gutter-x));
  margin-left: calc(-.5 * var(--bs-gutter-x));
  flex-direction: row;
}

.card-img-top {
  border-radius: 5rem;
  transition: transform 0.25s;
}

.card-img-top:hover {
  transform: scale(1.15);
}

.card {
  background-color: none;
}

.col {
  padding: 10px;
}

.card-title {
  font-family: 'Bebas Neue', cursive;
}

.btn-primary {
  font-family: 'Bebas Neue', cursive;
  font-size: 24px;
  background-color: #af4000 !important;
}

.titulo-marcas {
  font-family: 'Bebas Neue', cursive;
  margin-top: 40px;
  text-align: center;
  gap: 5px;
  color: white;
}

.textocompra {
  font-family: 'Bebas Neue', cursive;
  text-align: center;
  background-color: #af4000;
  align-items: center;
  color: white;
  padding: 1rem;
  margin: 18rem;
  margin-left: 26rem;
}

.iranosotros {
  text-decoration: none;
  font-family: 'Bebas Neue', cursive;
  color: white;
}

.formulario {
  padding-left: 2rem;
  padding: 2rem;
  background-color: #D4E0EE;
  font-family: 'Bebas Neue', cursive;
}

.contenedornosotros {
  display: flex;
  flex-direction: row;
  padding: 6rem;
}

.contenedorproductos {
  display: flex;
  flex-direction: row;
  height: 300px;
  background-color: #D4E0EE;
  position: relative;
}

.comida {
  display: flex;
  flex-direction: column;
  position: relative;
}

.adulto {
  width: 250px;
}

.quienesomos {
  justify-content: center;
  font-family: 'Bebas Neue', cursive;
  font-size: 25px;
}

.mapa {
  padding-left: 1rem;
  border: 2px;
  border-color: black;
}

.guardar {
  text-decoration: none;
  color: black;
}

.contenedorcontacto {
  position: center;
  display: flex;
  flex-direction: row;
  border: 16px;
  border-color: #D4E0EE;
  background-color: #D4E0EE;
  margin-top: 2rem;
}

.containercontacto {
  padding: 2rem;
}

body {
  background-image: url("../imagenes/fondo.jpeg");
  background-color: #af4000;
  display: flex;
  flex-direction: column;
}

.carousel {
  margin-top: 1rem;
}

.navbar {
  background-color: #af4000 !important;
}

.nav-link {
  font-family: "Oswald", sans-serif !important;
  border-style: hidden !important;
  font-size: 25px;
  color: whitesmoke !important;
}

.nav-link:hover {
  color: #0f0e0e !important;
}

.logo {
  border-radius: 75px;
}

.row {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header {
  justify-content: space-between;
}

.main {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.whatsapp {
  background-color: none;
  padding: 0.5rem 1rem;
  display: inline-block;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  z-index: 20;
  border-radius: 5rem;
}

.whatsapp:hover {
  transform: scale(1.15);
  opacity: 0.8;
}

.text-muted {
  color: black !important;
  font-size: 15px;
}

@media screen and (max-width: 1023px) {
  .navegador {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (max-width: 600px) {
  .contenedorcard {
    position: relative;
    left: 1rem;
    gap: 1rem;
  }
  .nav-video {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .video {
    width: 100%;
  }
  .textocompra {
    margin: 3rem;
    margin-top: 6rem;
    margin-bottom: 11rem;
  }
  .iranosotros {
    text-decoration: none;
    font-family: 'Bebas Neue', cursive;
    color: midnightblue;
  }
  .formulario {
    width: 390px;
  }
  .premium1 {
    padding: 0px;
  }
  .container {
    position: static;
  }
  .mapa {
    padding-top: 1rem;
    width: auto;
  }
  .mapadir {
    width: 390px;
    padding-right: 1rem;
  }
  .contenedorcontacto {
    flex-direction: column;
    gap: 1rem;
  }
}

@media only screen and (max-width: 1023px) {
  body .card-title {
    color: #0059ff;
  }
}

@media only screen and (max-width: 767px) {
  body .card-title {
    color: red;
  }
}
/*# sourceMappingURL=estilos2.css.map */