.contenedorvideo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex: 1 0 0%;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
body {
    background-image: url("imagenes/Wave.svg");
}
.video{
    width: 50%;
    height: auto;
}
.carousel{
margin-top: 1rem;
}
.navbar {
    background-color: rgb(255, 239, 8) !important;
}
.logo {
    border-radius: 75px ;
}
.main {
    display: flex;;
    flex-direction: column;
}
.container {
    background-color: rgb(218, 208, 228);
    display: flex;
    flex-direction: column !important;
}
.row{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.contenedorcard{

        --bs-gutter-x: 1.5rem;
        --bs-gutter-y: 0;
        display: flex;
        flex-wrap: wrap;
        margin-top: 1rem;
        margin-right: calc(-.5 * var(--bs-gutter-x));
        margin-left: calc(-.5 * var(--bs-gutter-x));
        flex-direction: row;
    }
.navegador {
    background-color: blue;
    margin-top: 1rem;
}
.header{
    justify-content: space-between;
}
.main {
    display:flex;
    flex-direction: row;
}
.whatsapp {
    background-color: green;
    color: #D4E0EE;
    text-decoration: none;
    padding: 0.5rem 1rem;
    display: inline-block;
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    z-index: 20;
    border-radius: 5rem;
  }
  @media screen and (max-width: 1023px){
  .navegador {
    display: none;
  }
}