@media screen and (max-width: 767px){
    .contenedorcontacto{
flex-direction: column;
gap: 16px;

    }
    .formulario{
        width: 270px;
    }
    .premium1{
        padding: 0px;
    }
    .container {
        position: static;
    }
    .mapadir{
        width: 270px;
    }
}
    
    
    