body {
    background-image: url("../imagenes/fondo.jpeg");
    background-color: rgb(175, 64, 0);
    display: flex;
    flex-direction: column;
}


.carousel{
margin-top: 1rem;
}
.navbar {
   background-color:rgb(175, 64, 0)!important;
   
  
}
.nav-link {
    font-family: 'Oswald', sans-serif!important;
    border-style: hidden!important;
    font-size: 25px;
    color: rgb(245, 245, 245)!important;
  }
  .nav-link:hover {
    color: rgb(15, 14, 14)!important;
  }
.logo {
    border-radius: 75px ;
}

.row{
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.header{
    justify-content: space-between;
}
.main {
    width: 100%;
    display:flex;
    flex-direction: row;
}
.whatsapp {
    background-color: none;
    padding: 0.5rem 1rem;
    display: inline-block;
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    z-index: 20;
    border-radius: 5rem;
  }
  .whatsapp:hover{
      transform: scale(1.15);
      opacity: 0.8;
  }
 .text-muted{
      color: black !important;
      font-size: 15px;
  }