.container {
    width: 100%;
    background-color: rgb(175, 64, 0);
    display: flex;
    flex-direction: column !important;
}
.contenedorcard{

        --bs-gutter-x: 1.5rem;
        --bs-gutter-y: 0;
        display: flex;
        flex-wrap: wrap;
        margin-top: 1rem;
        margin-right: calc(-.5 * var(--bs-gutter-x));
        margin-left: calc(-.5 * var(--bs-gutter-x));
        flex-direction: row;
    }
    .card-img-top{
        border-radius: 5rem;
        transition: transform 0.25s;
    }
.card-img-top:hover{
    transform: scale(1.15);
}
.card{
    background-color: none;
}
    .col {
        padding: 10px;
    }
    .card-title{
        font-family: 'Bebas Neue', cursive;
    }
    .btn-primary{
        font-family: 'Bebas Neue', cursive;
        font-size: 24px;
        background-color:rgb(175, 64, 0)!important;
    }
.titulo-marcas{
    font-family: 'Bebas Neue', cursive;
    margin-top: 40px;
    text-align: center;
    gap: 5px;
    color: white;
}
.textocompra{
    font-family: 'Bebas Neue', cursive;
    text-align: center;
    background-color:rgb(175, 64, 0);
    align-items: center;
    color:white;
    padding:1rem;
    margin:18rem;
    margin-left: 26rem;
}
.iranosotros{
    text-decoration: none;
    font-family: 'Bebas Neue', cursive;
    color:white;
}
.formulario{
    padding-left: 2rem;
    padding: 2rem;
    background-color: #D4E0EE;
    font-family: 'Bebas Neue', cursive;
}
.contenedornosotros{
    display: flex;
    flex-direction: row;
    padding: 6rem;
}
.contenedorproductos{
    display: flex;
    flex-direction: row;
    height: 300px;
    background-color: #D4E0EE;
    position: relative;
}
.comida{
    display: flex;
    flex-direction: column;
    position: relative;
}
.adulto{
    width: 250px;
}
.quienesomos{
    justify-content: center;
    font-family: 'Bebas Neue', cursive;
    font-size: 25px;
}
.mapa{
padding-left: 1rem;
border:2px;
border-color: black;
}
.guardar{
    text-decoration: none;
    color:black;
}
.contenedorcontacto {
    position: center;
    display: flex;
    flex-direction: row;
    border: 16px;
    border-color: #D4E0EE;
    background-color: #D4E0EE;
    margin-top: 2rem;
  }
  .containercontacto{
    padding: 2rem;
  }