@media screen and (max-width: 1023px){
    .navegador{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    }
    @media screen and (max-width: 600px){
      .contenedorcard{
        position: relative;
        left: 1rem;
        gap: 1rem;
      }
      .nav-video{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
      .video{
        width: 100%;
      }
      .textocompra{
        margin:3rem;
        margin-top: 6rem;
        margin-bottom: 11rem;
      }
      .iranosotros{
        text-decoration: none;
        font-family: 'Bebas Neue', cursive;
        color: midnightblue;
    }
    .formulario{
      width: 390px;
  }
  .premium1{
      padding: 0px;
  }
  .container {
      position: static;
  }
  .mapa{
    padding-top: 1rem;
    width: auto;
  }
  .mapadir{
    width: 390px;
    padding-right: 1rem;
  }
  .contenedorcontacto{
    flex-direction: column;
    gap:1rem;
  }
  }
  $vistad:tablet;
  body{
    @if $vistad==tablet{
      @media only screen and (max-width: 1023px){
        .card-title {color: rgb(0, 89, 255);}
      }
    }@else if $vistad==mobile{
      @media only screen and (max-width: 767px){
        .card-title {color: red;}
      }
    }@else {
      .card-title{color: yellow;}
    }
  }

  $vista:mobile;
  body{
    @if $vista==desktop{
      @media only screen and (min-width: 1023px){
        .card-title {color: red;}
      }
    }@else if $vista==mobile{
      @media only screen and (max-width: 767px){
        .card-title {color: red;}
      }
    }@else {
      .card-title{color: yellow;}
    }
  }
