.navegador {
    background-color: none;
    margin-top: 1rem;
}
.navegador1{
    font-family: 'Bebas Neue', cursive;
    font-size: 25px;
    text-decoration: underline;
    color:white;
}
.navegador2{
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
    padding-left: 5px;
    color:white;
}
.navegador2:hover{
    transform: scale(1.25);
    padding-left: 10px;
    margin-left: 10px;
    opacity: 0.8;
}
.nav-video{
    align-items: center;
    display: flex;
    flex-direction: row;
}
 